body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #7C83FD;
    border-radius: 0.3rem;
    margin-bottom: 0.25rem;
}

button {
    background: #7C83FD;
    color: white;
    padding: 10px 20px;
    margin: 0.25rem 0;
    border: 1px solid #7C83FD;
    font-weight: bold;
    border-radius: 0.3rem;
}

.removeButton {
    background: transparent;
    border: none;
}

#delete-btn {
    background: white;
    border: 1px solid #96BAFF;
    color: #96BAFF;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    background: #FDBAF8;
    border-radius: 2px;
    padding: 0.75rem;
}

a {
    color: #fff;
    text-decoration: none;
    background: #ECA3F5;
    font-weight: bolder;
    border-radius: 2px;
    font-size: 0.9rem;
}
